appdirs==1.4.4
asgiref==3.5.2
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
distlib==0.3.1
Django==4.0.4
django-autoslug-iplweb==1.9.4
django-bootstrap4==0.0.7
filelock==3.0.12
idna==3.3
lxml==4.8.0
mccabe==0.6.1
Pillow==9.1.1
pytz==2021.1
requests==2.27.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
toml==0.10.2
tzdata==2022.1
urllib3==1.26.9
wrapt==1.12.1
